/* material firefox imports */
@import "global/variables.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";
@import "extensions/extensions.css";
@import "vars.css";

/* show bookmarks toolbar on new tab only */
#main-window #PersonalToolbar {
    visibility: collapse !important;
    z-index: 3 !important;
    position: relative !important;
    margin-left: var(--initial-width); /* shift toolbar to the right based on initial width */
    margin-top: var(--toolbar-height) !important;
}

#main-window[title^="Firefox Developer Edition"] #PersonalToolbar {
    visibility: visible !important;
    margin-top: -1px !important;
}

#TabsToolbar { display: none !important; }
#nav-bar { width: 100vw !important; }

#browser { position: relative; }
#sidebar-box[sidebarcommand*="tabcenter"] #sidebar-header { display: none; }

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) {

  display: block;

  position: absolute;
  top: 0; bottom: 0;
  z-index: 3;

  min-width: 50px; max-width: 50px;

  border-right: none;

  transition: all 0.2s ease;

  overflow: hidden;

}

[sidebarcommand*="tabcenter"] #sidebar,
#sidebar-box[sidebarcommand*="tabcenter"]:hover { min-width: 10vw !important; width: 30vw !important; max-width: 250px !important; }

[sidebarcommand*="tabcenter"] #sidebar { height: 100%; max-height: 100%; }

#sidebar-box[sidebarcommand*="tabcenter"]:not([hidden]) ~ #appcontent { margin-left: 50px; }
#main-window[inFullscreen][inDOMFullscreen] #appcontent { margin-left: 0; }#main-window[title^="Firefox Developer Edition"] #sidebar-box {
    margin-top: var(--toolmenubar-height) !important;
}

#sidebar {
    border-right: none !important;
}

toolbar#nav-bar {
    padding-top: 12px;
    padding-bottom: 7px;
    margin-left: var(--initial-width);
    padding-left: 7px;
    border: none !important;
}

toolbar {
    border: none !important;
}

/* Hide the title bar */
#titlebar{ visibility: collapse; }

/* hide normal horizontal tab bar */
#TabsToolbar {
    display: none;
}

#urlbar {
text-align: center;
margin: 6px !important;
padding-top: 0px !important;
padding-left: 2px !important;
padding-right: 2px !important;
padding-bottom: 0px !important;
border-top-width: 0px !important;
border-left-width: 0px !important;
border-right-width: 0px !important;
border-bottom-width: 0px !important;
border-radius: 0px !important;
box-shadow: 0px 0px 0px black !important;
background-color: hsla(0,0%,00%,0) !important;
}

/*Fuck the megabar */
/* Compute new position, width, and padding */

#urlbar[breakout][breakout-extend] {
  width: var(--urlbar-width) !important;
  padding: 0px !important;
}
/* for alternate Density settings */
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: 3px !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: 4px !important;
}

/* Prevent shift of URL bar contents */

#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}

/* Do not animate */

#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;;
}

/* Remove shadows */

#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}

#nav-bar {
    height: 45px !important;
}

/* Sidebery */
#main-window[titlepreface*=" "] .tabbrowser-tab {
  visibility: collapse !important;
}
 
#main-window[titlepreface*=" "] .titlebar-button {
  height: 40px !important;
}
 
#main-window[titlepreface*=" "] #nav-bar {
  margin-top: -40px;
  margin-right: 137px;
  box-shadow: none !important;
}
#main-window[titlepreface*=" "] #titlebar-spacer {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] #titlebar-buttonbox-container {
  background-color: var(--chrome-secondary-background-color);
}
 
#main-window[titlepreface*=" "] .titlebar-color {
  background-color: var(--toolbar-bgcolor);
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] #sidebar-header {
  visibility: collapse;
}
 
/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */
 
/* Show sidebar only when the cursor is over it  */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] {
  --uc-sidebar-width: 48px !important;
  --uc-sidebar-hover-width: 250px;
  --uc-autohide-sidebar-delay: 300ms; /* Wait 0.3s before hiding sidebar */
  position: relative;
  min-width: var(--uc-sidebar-width) !important;
  width: var(--uc-sidebar-width) !important;
  max-width: var(--uc-sidebar-width) !important;
  z-index:3;
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-splitter {
  display: none
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar {
  transition: min-width 115ms linear var(--uc-autohide-sidebar-delay) !important;
  min-width: var(--uc-sidebar-width) !important;
  will-change: min-width;
}
 
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"]:hover > #sidebar{
  min-width: var(--uc-sidebar-hover-width) !important;
  transition-delay: 0ms !important
}
 
#sidebar-splitter{ display:none !important }